.contenu{
    flex: 3;
    background-color: whitesmoke;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: space-around;
    overflow-y: auto;

    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.5rem;
        background-color: #fff;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 2rem;

        .element{
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 3rem;
            padding: 0.5rem;                       

            .elem1{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                padding: 1.5rem;
                // border: 1px solid red;

                input{
                    padding: 5px;
                    outline: none;
                    border: 1px solid #e4e4e4dc;
                    border-radius: 5px;
                    color: #6d6c6cdc;
                    padding: 11px;
                    // width: 100%;
                }

                .dates{
                    width: 88%;
                }

                select{
                    padding: 5px;
                    outline: none;
                    border: 1px solid #e4e4e4dc;
                    border-radius: 5px;
                    color: #6d6c6cdc;
                    padding: 11px;
                    width: 100%;
                }
            }

            .elem2{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                width: 190px;
                padding: 1.5rem;
                // border: 1px solid red;

                input{
                    padding: 5px;
                    outline: none;
                    border: 1px solid #e4e4e4dc;
                    border-radius: 5px;
                    color: #6d6c6cdc;
                    padding: 11px;
                    width: 100%;
                }

                select{
                    padding: 5px;
                    outline: none;
                    border: 1px solid #e4e4e4dc;
                    border-radius: 5px;
                    color: #6d6c6cdc;
                    padding: 11px;
                    width: 213px;
                }

            }

                
        }

        .btn{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding-bottom: 1rem;
            
        }

    }

    .tableau{
        background-color: whitesmoke;
        width: 100%;
        min-height: 400px;
        padding-top: 1rem;
        margin-bottom: 2rem;
        overflow: auto;
        
    }

    .stats{
        width: 100px;
        height: 100%;
    }

}