body{

    display: flex;
    align-items: center;
    justify-content: center;
    // background-image: url('—Pngtree—blue abstract background business_1328234.png');
    background-color: #F6F8FA;
    color: #616368;

    .MyApp{
        background-color: white;
        display: flex;
        width: 90vw;
        height: 90vh;
        border-radius: 10px;
        margin-top: 1rem;
        border: 1px solid #eeeded;
        backdrop-filter: blur(19px) saturate(180%);
    }
}

