body{

    background-color: #bbbbbbdc;

    .MyApp{
        display: flex;
        background-color: #fcfbfb;
        width: 90vw;
        height: 90vh;
        border-radius: 10px;
        margin-top: 1rem;
        border: 1px solid #eeeded;
    }
}

